/* increases Bootstrap width */
@media (min-width: 576px) {
  .container {
    max-width: 1250px;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* --------------- HEADER SECTION ---------------*/
header {
  background: #305e80;
  flex: 0 1 auto;
}

header .container {
  padding: 0.83rem 0;
}

header .nav-link {
  margin: 0 4px;
  color: #ffffff;
}

header .nav-link:hover {
  color: #d9e0e8;
}

/* --------------- NAVBAR ---------------*/
#navbar,
#navbar .nav-link {
  transition: 0.1s;
}

/* horizontal scroll */
#navbar .navbar-scroll {
  overflow: auto;
  white-space: nowrap;
  /* the margin centers hor-scroll elements & prevents 
  an element's top border from not showing on hover while 
  a dropdown link is active*/
  margin: 1px auto 0;
}

/* prevents vertical scroll from showing */
#navbar .navbar-scroll li {
  margin: auto 0;
}

/* toggled with JS */
.dropdown-item-bg-override:hover {
  background: #565656 !important;
}

@keyframes fadeIn {
  from {
    opacity: 50%;
  }
}

.unread-message {
  animation: fadeIn 1s infinite alternate;
}

/* --------------- BANK ACCOUNTS SECTION ---------------*/
#accts-section {
  transition: 0.1s;
  background: #d9e0e8;
  flex: 1 1 auto;
}

#accts-section .container {
  padding: 20px 0.83rem 10px;
}

#accts-total {
  font-weight: 600;
}

/* account h5 stying */
h5 {
  color: #355c7b;
  font-weight: 400;
}

h4 {
  color: #212529;
  margin: 0.6rem 0.8rem 0.2rem;
}

.flex-container {
  display: flex;
}
.flex-child {
  flex: 1;
}

.acct-num-rate {
  margin: 0.3rem 0.8rem 0.2rem;
  color: #747474;
}

.acct-amt {
  position: absolute;
  bottom: 0.7rem;
  right: 1.2rem;
  font-size: large;
  font-weight: 600;
}

/* stylized superscript for acct cents*/
.sup {
  font-size: medium;
  vertical-align: 10%;
}

.acct-block {
  transition: 0.1s;
  position: relative;
  height: 7rem;
  width: auto;
  margin: 5px auto;
  border: 1px solid #d1d6da;
  border-left: 10px solid;
  border-radius: 10px;
  background: #ffffff;
}

.acct-block:hover {
  transition: 0.1s;
  cursor: pointer;
  border-left: 7px solid currentColor;
  background-color: #f8fafa;
}

/* acct-block drop shadow theme toggle */
.acct-block-theme-toggle:hover {
  filter: drop-shadow(0 0 0.2rem #92a6bd);
}

/* --------------- FOOTER SECTION ---------------*/
footer {
  transition: 0.1s;
  background: #f5f9fc;
  text-align: center;
  flex: 0 1 auto;
}

footer .container {
  font-size: 90%;
  padding: 10px 1rem 10px;
}

.col-sm-auto {
  margin: 0.3rem 0.6rem;
}

.secu-eng-footer {
  margin: 5px 2rem;
}

a {
  color: #406f95;
}
a:hover {
  color: currentColor;
}
